@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Pretendard", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  overflow-x: hidden;
}

#__next {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fadeInUp {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
